/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-color: #F2F6F6;
  text-align: center;
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
}

.bjHeader {
	color: #ababcd;
	text-align: center;
}

tr {
	display: inline;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
	display: inline;
	padding: 20px;
	font-size: 2em;
}

h4 {
	text-align: left;
	margin: 10px;
}


.custom-select {
  position: relative ;
  font-family: Arial;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 80px;
  text-align: left;
}

.button {
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-shadow: black;
}

header.nav-header {
  background: #ababef;
  display: flex;
  padding: 0px 20px;
  height: 80px;
  color: white;
  text-shadow: white;
  text-decoration: none;
}


.mainBody {
  width: 67%;
}

.column {
	float: left;
	padding 10px;
}

.dealtHands{
	text-align: center;
	float: center;
	width: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.sidenav {
  left: 20px;
  height: 100%;
  width: 25%;
	float: left;
	padding: 10px;
	margin: 20px;
  z-index: 1;
  top: 100px;
  font-family: Arial, Helvetica, sans-serif;
	background: #ababef;
	display: block;

}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #6c6c6c;
  display: block;
  transition: 0.3s;
	text-align: left;

}

.sidenav a:hover {
  color: #eaeaea
}

.verticalLine1 {
  border-left: 4px solid black;
  left: 88px;
  height: 51px;
  position: absolute;
  top: inherit;
}
.verticalLine2 {
  border-left: 4px solid black;
  left: 230px;
  height: 51px;
  position: absolute;
  top: inherit;
}


.dijA {
	display: none;
}

.sampleA {
	display: none;
}

.astarA {
	display: none;
}


.playingCard {
	width: 140px;
	height: 200px;
}

.playButtons{
	text-align: center;
	float: center;
	display: none;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.winStatus{
	color: black;
}

canvas {
  background-color: white;
  margin: 20px;
  display: none;
}
