label{
  display: inline-block;
  width: 10em;
}

h1.name{
  color: #FDD017;
  font-size:10vw;
  text-align: center;
}

a.button1{
  display: block;
  padding: 0.5em 1.8em;
  margin: 0 0.1em 0.1em 0;
  border: .2em solid rgba(255,255,255,0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 1000;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  align-self: center;
}
a.button1:hover{
  border-color: rgba(0, 0, 255, 1);
  cursor: pointer;
}
@media all and (max-width:30em){
  a.button1{
    display: block;
    margin: 0.5em auto;
  }
}
.btn-group a.button1 {
  padding: 5px 8px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
	margin-left: 4%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

a.button2{
  display: block;
  padding: 0.5em 1.8em;
  margin: 0 0.1em 0.1em 0;
  border: .02em solid rgba(255,255,255,0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 1000;
  font-size: small;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  align-self: center;
  width: 50%;
  height: 75%;
}
a.button2:hover{
  border-color: rgba(0, 0, 255, 1);
  cursor: pointer;
}
@media all and (max-width:5em){
  a.button2{
    display: block;
    margin: 0.2em auto;
    width: 50%;
  }
}
* {
            box-sizing: border-box;
        }

        body {
            font-family: "Ahem!", sans-serif;
            font-size: small;
            font-weight: bolder;
            background-color: #a5988d;
            line-height: 1;
        }

        /* Float columns side by side */
        .column {
            float: left;
            width: 10%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 5px;
            padding-bottom: 1%;
            height: 10%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive columns */
        @media screen and (max-width: 200px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }


        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(216, 209, 215, 0.897);
        }

        .card {
            background-color: rgba(170, 170, 170, 0.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
            /* 5px rounded corners */
        }

        /* Add rounded corners to the top left and the top right corner of the image */
        img {
            border-radius: 5px 5px 0 0;
        }
                .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            background-color: #ad5f06;
            padding: 10px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.925);
            border: 2px solid #ad5f06;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            width: 265px;
            height: 108px;

        }

        /* Create a custom checkbox */
        .checkmark {
            position: relative;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #aaaa;
        }

        label {
            width: 7em;
            display: inline-block;
        }
